<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAGS</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
{% include "./navbar.html" %}
<br>
<table class="tags">
<tr>
    <td>Tag</td>
    <td>Quantity</td>
</tr>
{% for one_tag in quantity_of_tags %}
<tr>
    <td>{{ one_tag.name }}</td>
    <td>{{ one_tag.quantity }}</td>
</tr>
{% endfor %}
</table>
<script src="/../static/js/navbar.js"></script>
</body>
</html>