<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT COMMENT</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
{% include "./navbar.html" %}
<br>
{% for item in comment %}
    <form action="{{ url_for("edit_comment", comment_id=item['id']) }}" method="POST">
        <label for="">Type new comment</label>
        <br>
        <textarea name="message" id="" cols="30" rows="10">{{ item['message'] }}</textarea>
        <br><br>
        <button class="Add">Edit comment</button>
    </form>
{% endfor %}
<script src="/../static/js/navbar.js"></script>
</body>
</html>