<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
{% include "./navbar.html" %}
<br>
{% if is_logged_in %}
<table class="users">
    <tr>
        <td>USERNAME</td>
        <td>ASKED QUESTIONS</td>
        <td>NUMBER OF ANSWERS </td>
        <td>NUMBER OF COMMENTS </td>
        <td>REPUTATION</td>
    </tr>
    {% for user in all_users %}
    <tr>
        <td> <a href="{{ url_for("user_page", user_id=user.user_id) }}"> {{ user.login }}</a></td>
        <td>{{ user.num_of_asked_questions }}</td>
        <td>{{ user.num_of_answers }}</td>
        <td>{{ user.num_of_comments}}</td>
        <td>{{ user.reputation}}</td>
    </tr>
{% endfor %}
</table>

{% endif %}

<script src="/../static/js/navbar.js"></script>
</body>
</html>